
body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    background-color: #fff;
    color: #333;
  }
  
  .header{
    background-color: #CE2829;
    text-align: center;
    padding-top: 1rem;
    width: 100%;
}
.breadcrumb {
    display: flex;
    justify-content: center;
    padding-right: 1rem;
    text-decoration: none;
    
}
.breadcrumb a{
    text-decoration: none;
    color: white;
}

.pizza-rating {
    display: flex;
    justify-content: space-between;
}
.pizza-baslik {
    padding-bottom: 1rem;
}
.description {
    padding-top: 1rem;
}
.megaDiv {
    padding-left: 23rem;
    padding-right: 23rem;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-start;
}
.hamur,
.boyut {
  flex: 1;              
  min-width: 200px;     
}

.toppings-form {
    padding-top: 2rem
}

.toppings-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 0.5rem;
    margin-top: 0.5rem;
}

.siparis-notu {
    padding-top: 2rem;
}
.order-row {
    display: flex;
    align-items: flex-start;  
    gap: 1rem;                
  }
  
 .miktar-button {
    
 } 
  .miktar {
    flex: 1;                  
    min-width: 200px;         
  }
  
  .pencere {
    flex: 1;
    min-width: 300px;
  }
  