html, body {
  margin: 0;
  padding: 0;
}

.siparis-alindi {
  display: flex;
  background-color: #CE2829;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  color: white;
  min-height:  100vh;
  width: 100%;
  padding-top: 22vh
}
.siparis-alindi img {
  position: absolute;
  top: 2rem;                 
  left: 50%;
  transform: translateX(-50%);
  width: 15vw;         
  height: 20vh;
}

.siparis-alindi h1 {
  margin: 0;
  font-family: 'Barlow', cursive;
  text-align: center;
  font-weight: lighter;
  font-size: 3rem;          
  line-height: 1.2;
  border-bottom: 1px solid white;
  padding-bottom: 2rem;
  width: 30vw;
}
#lezzet {
  font-family: 'Satisfy', cursive;
  color: #FDC913;
  text-align: center;
  font-size: large;
}
.pizza-title h5 {
  margin-top: 2rem;
  padding-bottom: 3rem;
}
.order-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  margin-bottom: 2rem;
  width: 21vw;
}

.order-summary {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 2.5rem;
  width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 3rem;
  
}
.order-size {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.order-size #boyut {
  font-weight: 200;
}

.order-dough {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.order-dough #dough {
  font-weight: 200;
}

.order-toppings {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.order-toppings #toppings {
  font-weight: 200;
  width: 110px;
}
.order-toppings #data-toppings {
  display: flex;
  flex-wrap: wrap;
}

.order-note{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.order-note #note {
  font-weight: 200;
}
.secimler {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Barlow";
  color: white;
  font-weight: 550;
  font-size: 18px;

}
.totalPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-family: "Barlow";
  font-weight: 550;
  font-size: 18px;
}
.toplamHeader2 {
  font-family: "Barlow";
  font-size: 20px;
  font-weight: 550;
  color: white;
}